
/* begin navbar section*/
.navbar-color{
    background-color: rgb(28, 28, 28);
    height: 100px;
}

.topnav {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center;    /* Vertically center the content */
    overflow: hidden;
    background-color: rgb(28, 28, 28);
    text-align: center;
    height: 10vh;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    gap: 10px;

  }
  .topnav a{
    letter-spacing: 0.3rem;
  }


/* end navbar section*/

/* Begin Common styles*/
#body {
    background-image: linear-gradient(#420ce1,#1c0660);
    margin: 10px 10px 10px 10px;
}

.text-style{
    text-align: center;
    color:white;
    font-weight: lighter;

    letter-spacing: 0.9rem;
    text-decoration: none;
    text-transform: uppercase;
}


.background-style{
    height:100vh;
    background-size:cover;
    position:relative;
}
/* End Common styles*/




/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
    font-weight: 100;

}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 100;

}

/* begin skills section css */

.grid-container {
    justify-content: center;
    display: grid;
    gap: 20px 20px;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    padding: 50px 50px;

}
  
.grid-item {
    border-radius: 90px;
    background-image: linear-gradient(#4d4d4d, #3636c5);
    padding: 25px;
    outline: 2px solid;
    cursor: pointer;
    transition: all 550ms cubic-bezier(
        .36,.63,.5,.73
    );
}

.grid-item:hover {
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 20px;
    color: #b158a2;
}

.img-style{
    width: 100%;
}
/* end skills section css */

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-linkedin:hover,.fa-github:hover,.fa-envelope:hover,.fa-eye:hover{
    color: #b158a2;
}
.fab,.fa {
    color: rgba(255, 255, 255, 0.625);
}

/* footer styling */
#footer {
    background-color: #1c1c1c;
    text-align: center;
    border-radius: 20px;
}
/* Magic  button */
.button {
    outline: 1px solid;
    color: white;
    padding: 0.2vw;
    letter-spacing: 0.15rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 550ms cubic-bezier(
        .36,.63,.5,.73
    );
}

.button:hover {
    outline-color: #ffffff00;
    outline-offset: 10px;
    color: #b158a2;
}


/* Begin Portfolio */
.stock-app-text{
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.5rem;
    font-weight: 100;
}

.card-background{
    background-image: linear-gradient(#b158a2, #1f1f99);
    align-items: center;
}

/* Stock App*/
.button-stock-app{
    text-align: center;
    background-color:#b158a2;
    border-radius: 100px;
    overflow: hidden;

}
    
.text-stock-app{
    text-decoration: none;
    color:#3a1c29;
    background-color:#b158a2;

    font-weight: 100;
}

.card-text{
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 100;
}



/* End Portfolio */

 /* Begin Contact */


 /* Container style */
 .contact-container {
   
    border: 2px solid #b158a2;
    background-color: transparent;
    border-radius: 20px;
    margin:5vh;

}
.row{    
    text-align: center; /* Wyrównanie tekstu do prawej */
    padding-top: 30vh;
    flex: 2;
}
.row a{
    text-decoration: underline;
    text-decoration: none;
    color: #ffffff;
}

.header-style{
    color: #ffffff;
    size: 10vh;
}

